In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as mtplt
dataset = pd.read_excel("Day-21/dataset/Linear Regression.xlsx",sheet_name=0)
dataset.head()

    price  sqft_living  bedrooms  bathrooms  floors
0  221900         1180         3       1.00     1.0
1  538000         2570         3       2.25     2.0
2  180000          770         2       1.00     1.0
3  604000         1960         4       3.00     1.0
4  510000         1680         3       2.00     1.0

In [4]:
dataset.isna().sum()

price          0
sqft_living    0
bedrooms       0
bathrooms      0
floors         0
dtype: int64

In [30]:
X = dataset[['sqft_living','bedrooms','bathrooms','floors']]
Y = dataset.iloc[:,0:1]

In [31]:
X

       sqft_living  bedrooms  bathrooms  floors
0             1180         3       1.00     1.0
1             2570         3       2.25     2.0
2              770         2       1.00     1.0
3             1960         4       3.00     1.0
4             1680         3       2.00     1.0
...            ...       ...        ...     ...
21608         1530         3       2.50     3.0
21609         2310         4       2.50     2.0
21610         1020         2       0.75     2.0
21611         1600         3       2.50     2.0
21612         1020         2       0.75     2.0

[21613 rows x 4 columns]

In [32]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.2,random_state=2)

In [33]:
from sklearn.linear_model import LinearRegression
mult_reg = LinearRegression()
mult_reg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [34]:
ypred = mult_reg.predict(x_test)
from sklearn.metrics import mean_squared_error,r2_score
print("RMSE", mean_squared_error(y_test,ypred))
print("R2 Value", r2_score(y_test,ypred))

RMSE 67476917917.179306
R2 Value 0.5166693554435362