In [2]:
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
titles = pd.read_csv('data/titles.csv')
release_date = pd.read_csv('data/release_dates.csv')
cast = pd.read_csv('data/cast.csv')
print(titles.head())
print(release_date.head())
print(cast.head())

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008
                    title  year      country        date
0   #73, Shaanthi Nivaasa  2007        India  2007-06-15
1                   #BKKY  2016     Cambodia  2017-10-12
2                 #Beings  2015      Romania  2015-01-29
3               #Captured  2017          USA  2017-09-05
4  #Ewankosau saranghaeyo  2015  Philippines  2015-01-21
                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [6]:
titles.shape[0]

244914

### What are the earliest two films listed in the titles dataframe?

In [7]:
yearsort = titles.sort_values(by=["year"])
yearsort.head(2)

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [18]:
titleonlyHamlet = titles[(titles['title'] == "Hamlet")]
print("Number of movies with name Hamlet is", titleonlyHamlet.shape[0])
titlecontainsHamlet = titles[(titles['title'].str.contains("Hamlet"))]
print("Number of movies that contains name Hamlet is", titlecontainsHamlet.shape[0])

Number of movies with name Hamlet is 20
Number of movies that contains name Hamlet is 57

### How many movies are titled "North by Northwest"?

In [20]:
titleNorth = titles[(titles['title'] == "North by Northwest")]
print("Number of movies with name North by Northwest is", titleNorth.shape[0])

Number of movies with name North by Northwest is 1

### When was the first movie titled "Hamlet" made?

In [32]:
sortHamyear = titleonlyHamlet.sort_values(by=["year"])
print("The first movie named Hamlet is made on the year ", sortHamyear.iloc[0]['year'])

The first movie named Hamlet is made on the year  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [34]:
titleTreIsland = titles[(titles['title'] == "Treasure Island")]
print(titleTreIsland.sort_values(by=["year"]))
# titleTreIsland.head()

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

### How many movies were made in the year 1950?

In [38]:
year1950 = titles[(titles['year'] == 1950)]
print("The number of movies made in the year 1950 is" ,year1950.shape[0])

The number of movies made in the year 1950 is 1113

### How many movies were made in the year 1960?

In [39]:
year1960 = titles[(titles['year'] == 1960)]
print("The number of movies made in the year 1960 is" ,year1960.shape[0])

The number of movies made in the year 1960 is 1549

### How many movies were made from 1950 through 1959?

In [44]:
yearthru195059 = titles[((titles['year'] >= 1950) & (titles['year'] <=1959))]
print("The number of movies made from 1950 through 1959 is" ,yearthru195059.shape[0])

The number of movies made from 1950 through 1959 is 12934

### In what years has a movie titled "Batman" been released?

In [47]:
titleBatman = titles[(titles['title'] == "Batman")]
titleBatman

         title  year
39349   Batman  1943
240896  Batman  1989

### How many roles were there in the movie "Inception"?

In [55]:
titleInception = cast[(cast['title'] == "Inception")]
print("Number of roles in the movie 'Inception' is",titleInception['character'].unique().size)

Number of roles in the movie 'Inception' is 56

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [69]:
notN = titleInception[(titleInception['n'].isnull())]
print("The number of roles in the movie 'Inception' are NOT ranked by an 'n' value is" , notN['character'].unique().size)

The number of roles in the movie 'Inception' are NOT ranked by an 'n' value is 21

### But how many roles in the movie "Inception" did receive an "n" value?

In [70]:
hasNVal = titleInception[(titleInception['n'].notnull())]
print("The number of roles in the movie 'Inception' are ranked by an 'n' value is" , hasNVal['character'].unique().size)

The number of roles in the movie 'Inception' are ranked by an 'n' value is 36

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [76]:
castNorth = cast[cast['title']=='North by Northwest']
hasNinNorth = castNorth[(castNorth['n'] > 0)]
hasNinNorth.sort_values(by=['n']).head(20)

,title,year,name,type,character,n
871426,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3518333,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1457165,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3157232,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
356707,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
3048272,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1695173,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1275337,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2447081,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1811387,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
665768,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2295714,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
464736,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1508344,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
206471,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1384780,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [77]:
cast[(cast['title']=='Sleuth') & (cast['year'] == 1972)].sort_values(by=['n'])

,title,year,name,type,character,n
1705394,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
326773,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
373876,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1465483,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2724553,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1448690,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [78]:
cast[(cast['title']=='Sleuth') & (cast['year'] == 2007)].sort_values(by=['n'])

          title  year                 name     type          character    n
326774   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1293634  Sleuth  2007             Jude Law    actor               Milo  2.0
1805907  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
260242   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
373877   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2724552  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3370424  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [83]:
castHam = cast[(cast['title']=='Hamlet') & (cast['year'] == 1921)]
castHam['character'].unique().size

9

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [88]:
cast[(cast['title']=='Hamlet') & (cast['year'] == 1996) & cast['name'].str.contains('Branagh')].shape[0]

1

### How many "Hamlet" roles have been listed in all film credits through history?

In [92]:
cast[(cast['title']=='Hamlet') & (cast['character'] == 'Hamlet')].sort_values(by=['year']).shape[0]

18

### How many people have played an "Ophelia"?

In [97]:
cast[cast['character'] == 'Ophelia']['name'].unique().size

115

### How many people have played a role called "The Dude"?

In [100]:
cast[cast['character'] == 'The Dude']['name'].unique().size

19

### How many people have played a role called "The Stranger"?

In [101]:
cast[cast['character'] == 'The Stranger']['name'].unique().size

202

### How many roles has Sidney Poitier played throughout his career?

In [104]:
cast[cast['name']=='Sidney Poitier']['character'].unique().size

41

### How many roles has Judi Dench played?

In [107]:
cast[cast['name'] == 'Judi Dench']['character'].unique().size

46

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [125]:
castG = cast[(cast['name'] =='Cary Grant') & (cast['n'] == 2)]
castG[(castG['year']>=1940)  &  (castG['year'] <1950)].sort_values(by=['year'])

                   title  year        name   type    character    n
871423  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
871433    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [130]:
castG = cast[(cast['name'] =='Cary Grant') & (cast['n'] == 1)]
castG[(castG['year']>=1940)  &  (castG['year'] <1950)].sort_values(by=['year'])

,title,year,name,type,character,n
871448,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
871407,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
871450,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
871438,Suspicion,1941,Cary Grant,actor,Johnnie Aysgarth,1.0
871452,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
871429,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
871398,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
871422,Mr. Lucky,1943,Cary Grant,actor,Joe Adams -posing as Joe Bascopolous,1.0
871430,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
871390,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
871425,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
871424,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
871427,Notorious,1946,Cary Grant,actor,Devlin,1.0
871444,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
871445,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
871421,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
871402,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
871411,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [136]:
castActor = cast[cast['type'] == 'actor']
castActor[(castActor['year']>=1950) & (castActor['year'] <=1960)]['character'].unique().size

101100

### How many roles were available for actresses in the 1950s?

In [138]:
castActress = cast[cast['type'] == 'actress']
castActress[(castActress['year']>=1950) & (castActress['year'] <=1960)]['character'].unique().size

39468

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [142]:
cast[(cast['n']==1) & (cast['year']<1990)].shape[0]

77288

### How many non-leading roles were available through from the beginning of film history through 1980?

In [143]:
cast[(cast['n'] > 1) & (cast['year']<1990)].shape[0]

874177

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [146]:
cast[(cast['n'].isnull()) & (cast['year']==1980)]['character'].unique().size

3493